.text-large{
    font-size: x-large;
}
.text-bold{
    font-weight: bolder;
}
.text-small{
    font-size: x-small;
}
.text-lighter{
    font-weight: lighter;
}
.text-small-caps{
    font-variant: small-caps;
}
.text-underline{
    text-decoration: underline;
}
.box-div{
    background-color: aqua;
    color: yellow;
    display: block;
    width: 20%;
    height: 40%;
}